<%- include('../header') -%>
<div class="options">
    <input type="checkbox" id="<%= person.id %>" name="<%= person.id %>" value="" data-delete>
    <a href="<%= base_url %>/person/edit/<%= person.id %>"> <button>EDIT</button> </a>
</div>
<div class="container">
    <div>
        <h2><%= person.first_name %>''<%= person.last_name %></h2>
        <p>Gender : <%= person.gender %> </p>
        <p>Phone : <%= person.phone %> </p>
        <p>Email : <%= person.email %> </p>
        <p>Birthday : <%= person.birthday %> </p>
    </div>
</div>

</body>
</html>