<%- include('../header') -%>
<p>La personne <%= oldPerson.first_name %> <%= oldPerson.last_name %> à était modifier en <%= newPerson.first_name %> <%= newPerson.last_name %> ! </p>
<a href="<%= base_url %>/person/<%= newPerson.id %>"><button >Voir toutes les modifications  </button></a>

</body>
</html>